<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245354616104-3jm7a1bfbupug70aoskvdogqcgss8v22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245354616104-3jm7a1bfbupug70aoskvdogqcgss8v22</string>
	<key>API_KEY</key>
	<string>AIzaSyBYYJXUco3KrzHhqD7IOymZfn4-mTyCW7k</string>
	<key>GCM_SENDER_ID</key>
	<string>245354616104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doaa.GroceryListApp</string>
	<key>PROJECT_ID</key>
	<string>grocery-list-app-483c3</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-list-app-483c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245354616104:ios:1d28c791ae31a233fb6c1d</string>
</dict>
</plist>